@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Integralcfbold';
    src: url('/fonts/integralcf-bold.woff') format('woff');
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: 'integralcfregular';
    src: url('/fonts/integralcf-regular.woff') format('woff');
    font-weight: 400; /* Regular weight */
}

@font-face {
    font-family: 'SatoshiRegular';
    src: url('/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
}

body{
    font-family: 'SatoshiRegular', sans-serif;
}